{% extends 'basic_generic.html' %}


{% block content %}
    <div class="row">
        <div class="col-mb-2 col-sm-2 col-lg-2">
            {% include 'plumbing/categories_menu.html' with categories_list=categories %}
        </div>
        <div class="col-mb-10 col-sm-10 col-lg-10">
            {% include 'plumbing/products.html' with products=products %}
        </div>
    </div>
{% endblock %}